beautifulsoup4==4.6.0
certifi==2022.12.7
chardet==3.0.4
future==0.16.0
get==0.0.39
idna==2.6
kinopoiskpy==0.7.1
lxml==4.1.1
post==0.0.26
psycopg2==2.7.4
public==0.0.65
pyTelegramBotAPI==3.6.0
python-dateutil==2.6.1
query-string==0.0.28
request==0.0.26
requests==2.18.4
simplejson==3.13.2
six==1.11.0
urllib3==1.22
